In [1]:
import pandas as pd

In [2]:
#reading the data using pandas and encoding the raw data file
data=pd.read_csv("spam.csv", encoding="latin-1")

In [3]:
#loading the first 5 data files
data.head(5)

,class,message,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
data.columns

Index(['class', 'message', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [5]:
#removing the unrequired data files
data.drop([ 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1, inplace=True)

In [6]:
data.head()

  class                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
#changing the ham and spam as 0 and 1
data['class']=data['class'].map({'ham':0,'spam':1})

In [8]:
data.head()

   class                                            message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [9]:
#preprocessing the messages

In [10]:
#importing countvectorizer from sklearn
from sklearn.feature_extraction.text import CountVectorizer

In [11]:
#creating the instance of count vectorizer
cv=CountVectorizer()

In [12]:
#converting data set into some dependent and independent feature then adding into sparse matrix
x=data['message']
y=data['class']

In [13]:
x.shape

(5572,)

In [14]:
y.shape

(5572,)

In [15]:
#make data into factor matrix or aspects matrix
x=cv.fit_transform(x)

In [16]:
x

<5572x8672 sparse matrix of type '<class 'numpy.int64'>'
	with 73916 stored elements in Compressed Sparse Row format>

example for the sparse matrix
1.The Cat
2.The Dog
3.The Bird


    The  Cat  Dog  Bird
1.  1    1     0    0
2.  1    0     1    0
3.  1    0     1    0
4.  1    0     0    1

In [17]:
#dividing data set into a tree test in a split format

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [20]:
x_train.shape

(4457, 8672)

In [21]:
# Choosing the model Naive bias cluster

In [22]:
from sklearn.naive_bayes import MultinomialNB

In [23]:
model=MultinomialNB()

In [24]:
model.fit(x_train,y_train)

MultinomialNB()

In [25]:
result=model.score(x_test,y_test)

In [26]:
result=result*100

In [27]:
result

98.02690582959642

In [28]:
#now saving the model into pickle format

In [30]:
import pickle

In [31]:
pickle.dump(model,open("spam.pkl","wb"))

In [32]:
pickle.dump(cv,open("vectorizer.pkl","wb"))

In [33]:
clf=pickle.load(open("spam.pkl","rb"))

In [34]:
clf

MultinomialNB()

In [35]:
#cheking the model whether it gives correct input or not

In [30]:
msg="You won Rs.1000"
data=[msg]
vect=cv.transform(data).toarray()
result=model.predict(vect)
print(result)

[1]

In [37]:
msg="Hi there"
data=[msg]
vect=cv.transform(data).toarray()
result=model.predict(vect)
print(result)

[0]

In [29]:
msg="you got free voucher"
data=[msg]
vect=cv.transform(data).toarray()
result=model.predict(vect)
print(result)

[1]

In [32]:
msg="you won free trip"
data=[msg]
vect=cv.transform(data).toarray()
result=model.predict(vect)
print(result)

[1]